<h1> Showing comments </h1>

<div class="container">
    <div class="row">
      <div class="col-8">
        <% @comments.each do |comment|%>
          
        <%end%>
      </div>
    </div>
  </div>
