<%# <h1>Here is your image: </h1>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <%= @story.inspect%> %>
        <%# <% @story.images.each do |image| %> %>
        <%# <%byebug %> %>
        <%# <div> <%= @story.all %></div> %>
        <%# <%= image_tag @story.images, class: "img img-fluid" %> %>
        <%# <% end %> %>
      <%# </div>
    </div>
  </div> %>
