/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms

 */
 @import "bootstrap";
 @import "font-awesome";

 .insta-post {
   margin-top: 20px;
  margin-bottom: 15px;
}
.post-meta {
  background: #eee;
  text-align: left  !important;
  padding: 30px;
}

.post-details {
  background: #ddd;
  padding: 20px;
}

.post-actions {
  margin-bottom: 20px;
  i {
    margin-right: 10px;
    color:rgb(92, 71, 71);
    cursor: pointer;
  }

  i:hover {
    color: rgb(42, 23, 23);
  }

  i.active {
    color: rgb(42, 23, 23);
  }
}

/* user css file*/

.profile-stats{
  max-width: 360px;
  margin-bottom: 30px;
  float: left;

}

.p-stats{
  max-width: 360px;
  margin-bottom: 30px;
  float: left;
  border-radius: 50%;
}

.dp-stats{
  width: 50px;
  float: left;
  // padding-bottom: 20px;
  padding-right: 10px;
  border-radius: 50%;
}

// .user-summary{
// }

.follower-suggestions {
  background: #fff;
  padding: 20px;
  border:1px solid #ddd;
  border-radius: 3px;
}

.comment-box {
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;

}

// .content {
//   width: 200px;
//   height: 600px;
//   background-color: rgb(221, 221, 231);

// }
