  <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand" href="/"> <i class="fa fa-instagram" aria-hidden="true"></i> | Instagram</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <form class="d-flex search" action="/users/search">
                      <div class="easy-autocomplete" style="width: 259px;"><input id="query" name="q" type="search" placeholder="Search" aria-label="Search" data-behavior="auto-complete" autocomplete="off"><div class="easy-autocomplete-container" id="eac-container-query"><ul></ul></div></div>
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <% if current_user %>
                       <li class="nav-item active"> <a class="nav_link  btn btn-white" href="/posts"> Home </a> </li>
                        <li class="nav-item"> <a class="nav_link   btn btn-white" href="/posts/new"> New Post </a> </li>
                        <li class="nav-item"> <a class="nav_link   btn btn-white" href="/stories/new"> Stories </a> </li>
                        <li class="nav-item"> <a class="nav_link  btn btn-white" href="/profile"> Profile </a> </li>
                        <li class="nav-item"> <a class="nav_link   btn btn-white" rel="nofollow" data-method="get" href="/users/sign_out"> Sign Out </a> </li>
                    <% else %>
                        <%= link_to 'Sign in',new_user_session_path, class: "nav_link btn btn-white" %>
                        <%= link_to 'Sign up',new_user_registration_path, class: "nav_link btn btn-white" %>
                    <%end%>



                </ul>
              </div>
            </div>
</nav>
